# Ignoraa kaikki tiedostot
*

# Paitsi seuraavat:
!/jtkj_lab/sensors/*.c
!/jtkj_lab/sensors/*.h
!.gitignore
!README.md
!Suunnitelma.pdf
!main.c
!/jtkj_lab/graphics.c
!/jtkj_lab/graphics.h
!/jtkj_lab/game.c
!/jtkj_lab/game.h
!/jtkj_lab/display_functions.c
!/jtkj_lab/display_functions.h
!*.xlsx
!/jtkj_lab/ExtFlash.c
!/jtkj_lab/ExtFlash.h
!/jtkj_lab/buzzer.c
!/jtkj_lab/buzzer.h